click==8.1.7
Flask==2.0.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
h11==0.14.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
psycopg2-binary==2.9.5
Pyrogram==2.0.106
python-dotenv==1.0.0
PyYAML==6.0.2
reportlab==3.6.12
schedule==1.2.2
SQLAlchemy==2.0.38
Telethon==1.38.1
typing-extensions==4.12.2
Werkzeug==2.0.3